<h1>Get a grip of yourself!</h1>


<form action="/coachings/answer">
  <label for="question">What the hell is it?</label>
  <input type="text" id="question" name="query" placeholder="what time is it?">
  <input type="submit" value="Go on!">
</form>
